<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.mbach.lemonde">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:restoreAnyVersion="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/DarkTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">

        <!-- Main page: RSS feed, drawer -->
        <activity
            android:name=".home.MainActivity"
            android:label="LeMonde.fr">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Service associated to MainActivity to fetch and parse latest news -->
        <service
            android:name=".home.RssService"
            android:exported="false" />

        <!-- Article to display when one has clicked on an item previously loaded from the RSS feed -->
        <activity
            android:name=".article.ArticleActivity"
            android:parentActivityName=".home.MainActivity"
            tools:targetApi="JELLY_BEAN">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="https"
                    android:host="lemonde.fr"
                    android:pathPrefix="/" />
                <data
                    android:scheme="https"
                    android:host="www.lemonde.fr"
                    android:pathPrefix="/" />
            </intent-filter>
        </activity>

        <!-- Manage user's favorites -->
        <activity
            android:name=".favorites.FavoritesActivity"
            android:label="@string/favorites_title_activity"
            android:parentActivityName=".home.MainActivity"
            tools:targetApi="JELLY_BEAN">
        </activity>

        <!-- Settings page -->
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".home.MainActivity"
            tools:targetApi="JELLY_BEAN" />
    </application>

</manifest>